{% extends "Base.html" %}

{% block title %}Forside{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div class="hero-section">
    <div class="container">
        <div class="hero-content">
            <div class="hero-heading-wrapper">
                <h1 class="hero-heading">Welcome to the gamehub!</h1>
                <p class="sub-heading">Explore our selection of exciting games and challenges!</p>
            </div>
            <div class="button-wrapper">
                <a href="/oversikt-spill" class="button-with-icon">Play Now</a>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}
