{% extends "Base.html" %}

{% block title %}Innstillinger{% endblock %}

{% block content %}

<div class="space-112px"></div>

<div class="form-container">
    <h2 class="form-title">Profilinformasjon</h2>
    <form action="/save-biography" method="post">
        <div class="form-group">
            <textarea 
                id="biography" 
                name="biography" 
                class="form-control" 
                rows="4" 
                placeholder="Skriv litt om deg selv..."
            >{{ biography if biography else '' }}</textarea>
            <br>
            <button type="submit" class="btnn btnn-primary">Lagre biografi</button>
        </div>
    </form>
</div>

<div class="space-60px"></div>

<div class="form-container">
    <h2 class="form-title">Endre Passord</h2>
    <form action="/update-password" method="post">
        <div class="form-group">
            <label for="current_password">Gammelt Passord:</label><br>
            <input 
                type="password" 
                id="current_password" 
                class="form-control"
                name="current_password" 
                placeholder="Skriv inn i gammelt passord" 
                required
            >
            <br>
        </div>
        <div class="form-group">
            <label for="new_password">Nytt Passord:</label><br>
            <input 
                type="password" 
                id="new_password" 
                class="form-control"
                name="new_password" 
                placeholder="Skriv inn nytt passord" 
                required
            >
            <br>
        </div>
        <div class="form-group">
            <label for="confirm_password">Bekreft Nytt Passord:</label><br>
            <input 
                type="password" 
                id="confirm_password"
                class="form-control" 
                name="confirm_password" 
                placeholder="Gjenta passord"
                required
            >
        <br>
        </div>
                
        <input type="submit" value="Endre Passord" class="btnn btnn-primary">
    </form>
</div>

<div class="space-60px"></div>

<div class="form-container">
    <h2 class="form-title">Øktsadministrasjon</h2>
    <p>Du har for tiden <strong>{{ session_count }}</strong> aktive økter på ulike enheter.</p>
    <form action="/clear-sessions" method="post">
        <button type="submit" class="btnn">Logg ut alle andre enheter</button>
    </form>
</div>

<div class="space-112px"></div>

{% endblock %}